<%= form_with(model: relationship, local: true) do |form| %>
  <% if relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(relationship.errors.count, "error") %> prohibited this relationship from being saved:</h2>

      <ul>
      <% relationship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>-->

  <div class="field">
    <%= form.label :friend_id %>
    <%= form.text_field :friend_id %>
  </div>

  <!--<div class="field">
    <%= form.label :status %>
    <%= form.text_area :status %>
  </div>-->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
