<h1>New Relationship</h1>

<%= form_tag(new_relationship_path, method: "get") do %>
  <%= label_tag(:name, "Search for:") %>
  <%= text_field_tag(:name, params[:name]) %>
  <%= submit_tag("Search") %>
<% end %>

<br/>

<% if @users != nil %>
    <% if @users.exists? %>
        <table>
            <thead>
                <tr>
                <th>Name</th>
                <th>Email</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= link_to 'Send request', create_relationship_path(:relationship => {:friend_id => user, :user_id => current_user, :status => "waiting"}), method: :POST, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% else %>
        No users fits this description. <br/>
    <% end %>
<% end %>

<%= link_to 'Back', relationships_path %>
