<p id="notice"><%= notice %></p>

<b><%= @user.email %></b><br/><br/>

Total wins : <%= @user.total_wins %><br/>
Total losses : <%= @user.total_losses %><br/>

<h1>Games</h1>

<% @user.participated_games.select(:game_id).distinct.each do |participant| %>
    <%game_id = participant.game_id %>
    <h3>Game : <%= Game.find(game_id).name %></h3>

    Patricipations : <%= @user.participants_for_game(game_id).count %><br/>
    Wins : <%= @user.winned_games(game_id).count %><br/>
    Losses : <%= @user.lost_games(game_id).count %><br/><br/>
<% end %>