<p id="notice"><%= notice %></p>

<h2><%= @game %></h2>

<h3>Host : <%= @participant.owner %>, Opponent : <%= @participant.opponent %></h3>

<!--<%= image_tag("/assets/index.png", {size: "500", :style => "border: 3px solid"} ) %><br/>-->

<canvas id="game_canvas" width="500" height="500"></canvas>

<%= link_to 'Quit game', destroy_participant_path(@participant), method: :delete, data: { confirm: 'Are you sure?' } %><br/>