<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <% @games.each do |game| %>
      <td>
        <%= game.name %> <br />
        <%= image_tag ("/assets/index.png") %> <br />
        <%= button_to "Host game", game_path(game), :method => :get %>
        <%= button_to "Join game", game_path(game), :method => :get, :popup => ['dialog name'] %>
      </td>
    <% end %>
    </tr>
  </tbody>
</table>

<br>
