<!DOCTYPE html>
<html>
  <head>
    <title>GameSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <a href="/" class="title"><h2>BlueBox.io</h2></a>
      <div class="dropdown">
        <button class="dropbtn">Settings</button>
        <div class="dropdown-content">
          <%if(user_signed_in?)%>
            <%= link_to("home", root_path) %>
            <%= link_to("friends", relationships_path) %>
            <%= link_to("statistics", show_statistics_path(current_user)) %>
            <%= link_to("edit account", edit_user_registration_path) %>
            <%= link_to("log out", destroy_user_session_path, method: :delete) %>
          <%else%>
            <%= link_to("log in", new_user_session_path)%>
          <%end%>
        </div>
      </div>
      <%if(user_signed_in?)%>
        <span style="float: right; margin: 25px 30px 0px 0px;">Connected as <%= current_user.email %></span>
      <%end%>

    <hr />
    <%= yield %>
  </body>
</html>
